<ion-header [translucent]="true" class="ion-no-border">
  <app-header></app-header>
</ion-header>
<ion-content>
  <div class="forgot_password">
    <div class="launching_screen">
      <figure>
        <img src="/assets/icon/headerimg.png">
      </figure>
    </div>
    <div class="forgot_password_body"> 
      <div class="forgot_passwordform_section "> 
        <ion-card style="padding: 20px 0px;">
          <ion-icon name="arrow-back" style="text-align: center;width: 100%;font-size: 20px;"></ion-icon>
          <ion-title style="text-align: center; padding: 10px 0 15px 0;">Forgot Password</ion-title>
          <div class="icon_user">
            <ion-icon name="person" style="border: 1px solid #3699de;border-radius: 50%; padding: 10px;font-size: 25px;color: #3699de;"></ion-icon>
          </div>
          <ion-card-content>
            <form [formGroup]="forgotpassModel.formGroup">
              
              <ion-list>   
                <ion-item>
                  <ion-input type="oldPassword" name="oldPassword" placeholder="Old password" style="padding: 0 !important;"  [type]="passwordType" clearOnEdit="false" [(ngModel)]="forgotpassModel.oldPassword" formControlName="oldPasswordControl" 
                  [required]="true"
                  [attr.aria-invalid]="forgotpassModel.formGroup.controls['oldPasswordControl'].invalid && forgotpassModel.formGroup.controls['oldPasswordControl'].touched ? true : null"></ion-input>
                  <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
                </ion-item>
                <div class="error_field">
                  <ng-container *ngIf="forgotpassModel.formGroup.controls['oldPasswordControl'].dirty">
                    <p class="caption status-danger" style="padding-top: 5px;" *ngIf="forgotpassModel.formGroup.controls['oldPasswordControl'].dirty && forgotpassModel.formGroup.controls['oldPasswordControl'].hasError('required')">
                      Old Password is required!
                    </p>
                    <p class="caption status-danger" style="padding-top: 5px;" *ngIf="forgotpassModel.formGroup.controls['oldPasswordControl'].dirty && forgotpassModel.formGroup.controls['oldPasswordControl'].hasError('pattern')">
                      Password must be minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character.
                    </p>
                  </ng-container>
                </div>   
                
                <ion-item>
                  <ion-input type="newPassword" name="newPassword" placeholder="New password" style="padding: 0 !important;"  [type]="passwordType" clearOnEdit="false" [(ngModel)]="forgotpassModel.newPassword" formControlName="newPasswordControl" 
                  [required]="true"
                  [attr.aria-invalid]="forgotpassModel.formGroup.controls['newPasswordControl'].invalid && forgotpassModel.formGroup.controls['newPasswordControl'].touched ? true : null"></ion-input>
                  <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
                </ion-item>
                <div class="error_field">
                  <ng-container *ngIf="forgotpassModel.formGroup.controls['newPasswordControl'].dirty">
                    <p class="caption status-danger" style="padding-top: 5px;" *ngIf="forgotpassModel.formGroup.controls['newPasswordControl'].dirty && forgotpassModel.formGroup.controls['newPasswordControl'].hasError('required')">
                      New Password is required!
                    </p>
                    <p class="caption status-danger" style="padding-top: 5px;" *ngIf="forgotpassModel.formGroup.controls['newPasswordControl'].dirty && forgotpassModel.formGroup.controls['newPasswordControl'].hasError('pattern')">
                      Password must be minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character.
                    </p>
                  </ng-container>
                </div>   
                
                <ion-item>
                  <ion-input type="confirmpassword" name="confirmpassword" placeholder="confirm password" style="padding: 0 !important;" [type]="confirmpasswordType" clearOnEdit="false" [(ngModel)]="forgotpassModel.confirmPassword" formControlName="confirmPasswordControl" 
                  [required]="true"
                  [attr.aria-invalid]="forgotpassModel.formGroup.controls['confirmPasswordControl'].invalid && forgotpassModel.formGroup.controls['confirmPasswordControl'].touched ? true : null"></ion-input>
                  <ion-icon item-end [name]="confirmpasswordIcon" class="confirmpasswordIcon" (click)='hideShowConfirmPassword()'></ion-icon>  
                </ion-item>
                <div class="error_field">
                  <ng-container *ngIf="forgotpassModel.formGroup.controls['confirmPasswordControl'].dirty">
                    <p class="caption status-danger" style="padding-top: 5px;" *ngIf="forgotpassModel.formGroup.controls['confirmPasswordControl'].dirty && forgotpassModel.formGroup.controls['confirmPasswordControl'].hasError('required')">
                      Confirm Password is required!
                    </p>
                    <p class="caption status-danger" style="padding-top: 5px;" *ngIf="forgotpassModel.formGroup.controls['confirmPasswordControl'].dirty && forgotpassModel.formGroup.controls['confirmPasswordControl'].hasError('pattern')">
                      Only alphanumeric characters are permitted!
                    </p>
                    <p class="caption status-danger" style="padding-top: 5px;" *ngIf="forgotpassModel.formGroup.controls['confirmPasswordControl'].dirty && forgotpassModel.formGroup.controls['confirmPasswordControl'].hasError('mustMatch')">
                      Password and confirm password are not same.
                    </p>
                  </ng-container>    
                </div>          
              

              </ion-list>
             
              <div class="button button_submit">       
                <ion-button type="submit" class="form-control"  id="reset" (click)="resetPassword()" status="success"   style="border-radius: 20px;overflow: hidden;margin: 0 0 20px 0;height: 45px;" expand="block" >Reset Password</ion-button>
              </div>
            </form>    
            <div class="sign_uo_page">
              <ul style="padding: 0;margin: 0;"> 
                <li style="list-style: none;text-align: center; font-size: 13px;"> <ion-text>Don't have an account ? <a [routerLink] = "'/signup'">Sign up</a></ion-text></li>
              </ul>
            </div>   
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
  </ion-content>
  <ion-footer>
    <app-footer></app-footer>
  </ion-footer>
  
      
     
  