<ion-app>  
  <ion-menu side="start" menuId="first" contentId="content" color="light" type="overlay">   
    <ion-content>  
      <ion-list *ngFor="let pages of navigate" style="padding-top: 0; padding-bottom: 0;">  
        <ion-menu-toggle auto-hide="true">  
          <ion-item [routerLink]="pages.url" routerDirection="forward" lines="none" style="border-bottom: 1px solid #ccc;">  
            <ion-icon [name]="pages.icon" slot="start"></ion-icon>  
              {{pages.title}}   
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
      <ion-list style="margin-top:32px; "></ion-list>
      <ion-list *ngFor="let pages of fMenuList" style="padding-top: 0; padding-bottom: 0;">  
        <ion-menu-toggle auto-hide="true">  
          <ion-item [routerLink]="pages.url" routerDirection="forward" lines="none" (click)='pageNavigateBySlug(pages.url, pages.slug)'>
            {{pages.title}}
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

    </ion-content>
  </ion-menu>
  <ion-router-outlet Id="content"></ion-router-outlet>
</ion-app>