.heading{color: #3498DD; font-weight: 700; font-family: 'Open Sans', sans-serif;}
.desc{font-family: 'Open Sans', sans-serif; color: #3f3d3d;}
.border{margin-top: 4px;}
.border span{width: 48px;height: 2px;background: #e3a433; display: block;}
.border_line{border-bottom: 1px solid #ccc;}
.img_block img {width: 24px; height: 24px; margin-top: 8px;}