.login{
    width: 100%;
    height: 100%;
    background-image: url(/assets/icon/bgimage.png);
    background-size: cover;
    background-repeat: no-repeat;
  
}
.login .launching_screen figure{
    margin: 0;
}
.icon_user{
    text-align: center;
}
.loginform_section ion-item{
    border: 1px solid #3699de;
    border-radius: 25px;
    margin: 0 0 15px 0;
 
}
.error_field p{
    padding-top: 5px;
    font-size: 13px;
    color: #d11414;
    margin: 0 0 10px 0px;
    text-align: center;
}
.loginform_section ion-item.ion-touched{
    margin: 0 0 5px 0;
}
.loginform_section  input.native-input.sc-ion-input-md{
    padding: 0;
}
.loginform_section .button-native{
    border-radius: 20px !important;
}

.login{
    position: relative;
}
ion-card{
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
}
.errors{
    color: #000;
}
// .swal2-title {
//     padding:  10px 0 0 0 !important;
// }