<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button style="color: #094197;"></ion-menu-button>
  </ion-buttons>
  <ion-title class="ion-no-padding">
    <div class="top-header"> 
      <div class="logo"><img src="../../assets/icon/logo.png" alt="logo"/></div>
      <div class="header-rpanel"><span><ion-icon name="search"></ion-icon></span></div>
      <div class="header-cart"><ion-badge>{{ cartItems }}</ion-badge><span><ion-icon name="cart"></ion-icon></span></div>
    </div>
  </ion-title>
</ion-toolbar>