.heading{color: #3498DD; font-weight: 700; font-family: 'Open Sans', sans-serif;}
.desc{font-family: 'Open Sans', sans-serif; color: #3f3d3d;}
.border{margin-top: 4px;}
.border span{width: 48px;height: 2px;background: #e3a433; display: block;}