.list_of_products {margin-top: 16px;}
.list_of_products a{text-decoration: none;}
.heading {color: #3498DD; font-weight: 700;}
.heading span {color: #81D6F7;}
.products h3{ text-align: center;}
.desc{text-align: center; line-height: 24px; overflow: hidden; height: 90px;}
.border{text-align: center; margin-top: 8px;}
.border span{width: 80px;height: 2px;background: #e3a433; display: block;margin: 0 auto;}
.title{color: #0480d6; font-weight: 500;}